body{
    background-color:#ECEFF2;
    margin:0;
}

.logo_icon{
background-color: white;
margin-top: 3%;
height: 96px;
}

.navbar{
    background-color: white;
    margin-top: 1%;
    height: 46px;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
   
    }
.navbar a{
margin-top: 12px;
text-decoration: none;
}

.video{
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.video2{

    display: flex;
    justify-content: space-evenly;
    margin-top: 2%; 
    margin-left: 20%;
    margin-right: 20%;
}

.video2 img{
    border-radius: 6%;
    height:119px;
}

.cirkles {
    margin-top:4%;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.cirkles img{
    margin-top: 1%;
}

.extratext{
    background-color: white;
    max-width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: 25px;
    text-decoration: none;
}


.dialog {
    margin-left: 20%;
    margin-top:10%;
    height: 480px;
    width:330px;
    background-color: white;
    display: flex;
    flex-direction: column;
   font-size: 30px;
   border-radius: 20px;
}
.dialog p{
    margin-left: 10%;
}

.dialog button{
    background-color: #218169;
    width: 280px;
    height: 62px;
    border-radius: 15px;
    margin-top:3%;
    margin-left:7%;
    border: none;
    color: white;
}

.blue button{
    background-color: #386082;
    width: 280px;
    height: 62px;
    border-radius: 15px;
    margin-top:3%;
    margin-left:7%;
    border: none;
    color: white;  
}
